
<style>
    .barlink {
        display: inline;
    }

    .barimg {
        display: inline;
        border-bottom: 2px solid white;
    }

</style>

<div class="barlink">
<input id="dynamic" type="hidden" value="">
<a id="copy-dynamic" >
        <img class="barimg" id="image-button" src="/static/images/Editing-Copy-icon.png" style="height: 50px;top: 40px;position:relative;padding-right:15px;">
</a>
</div>


<div class="barlink">
<a id="tw_link" href="#" >
    <img class="barimg" id="tw-button" src="/static/images/twitter-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>

<div class="barlink">
<a id="fb_link" href="#" >
    <img class="barimg" id="fb-button" src="/static/images/facebook-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>

<div class="barlink">
<a id="pt_link" href="#" >
    <img class="barimg" id="pt-button" src="/static/images/pinterest-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>


<div class="barlink">
<a id="li_link" href="#" >
    <img class="barimg" id="li-button" src="/static/images/linkedin-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>

