{% include "base.html" %}

<div style="height: 100px;"></div>
{% include "header.html" %}
<div style="height: 100px;"></div>
<form action="/log_in/" method="POST" id="log_in" class="pure-form" style="text-align: center;" >{% csrf_token %}

    <fieldset class="pure-group">
    <center>
	    <input type="email" name="log_in_email" id="log_in_email" class="pure-input-1-4" placeholder="Email" style="text-align: center; min-width: 260px;">
        <input type="password" name="log_in_password" id="log_in_password" class="pure-input-1-4" placeholder="Password" style="text-align: center;min-width: 260px;">
    </center>
    </fieldset>

    <button type="submit" class="pure-button pure-input-1-4" style="min-width: 260px;">Log In</button>
</form>

<div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-1-5"></div>
        <div class="pure-u-1-5" style="padding-top: 30px;">
                <center>
                <a href="/example">Example</a> | <a href="mailto:quidprize@gmail.com">Contact Us</a><br>
                </center>
        </div>
</div>
<br><br>
<br><br><br><br>
<br><br><br><br>
<div style="color: grey; height: 40px; bottom: 0px; position: absolute; margin-left: auto; margin-right: auto; width:100%; text-align: center;">
&copy; P. Traverse 2014 | powered by ow.ly
</div>

</body>
