{% include "base.html" %}
<div style="height: 100px;"></div>
<a href="/">{% include "header.html" %}</a>
<div style="height: 100px;"></div>

        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3">
        <h1 class="pure-u-1-2">The Legal Stuff</h1>
<p>
Quidprize offers a system for businesses to put up a prize that will most likely go to the customer who attracts the most web page views on behalf of that business.
</p
<ol>
<li>We offer quidprize as-is without any guarantees of any kind.
<li>We offer connection between a business and its clientele. If the business reneges on its clients, quidprize is in no way responsible for posting collateral against the prize. For complaints please <a href="mailto:quidprize@gmail.com">email us</a>.
<li>We offer no promises or guarantee on specific amounts of traffic that may or may not be increased as a direct result of quidprize.com.
<li>We reserve the right to filter email addresses that have been submitted that behave like bots or raise any suspicion of automated traffic generation (ie fake clicks).
<li>We will take all steps possible to ensure your privacy and will never email you or give away your email address. However, there is always the possibility of future security lapses. We pre-emptively warn users against using their most common passwords.
<li>All code, concepts, data are trademark patent pending belonging to me only. Canadian Provisional Patent #394882
</ol>

<br><br>
We hope you enjoy participating in quidprize.com.
<br><br><br>
Sincerely,<br>
The Quidprize Team
<br><br><br>
<button onclick="window.history.back()" class="pure-button pure-input-1-6" style="align: middle;">Go Back</button>
            <br><br><br>
</div>