{% include "base.html" %}



<div class="pure-menu pure-menu-open " style="background: none repeat scroll 0 0; position: fixed; width: 160px; top:0;bottom:0; background-color: white; font-color: white;  ">

    <div style="background-color: white; text-align: center; height:8.5%; ">
        <a href="/">
            <img src="/static/images/qptransp.png" style="height: 40px; padding-top: 4px;">
        </a>
    </div>

    <ul style="text-align:center;background-color: white; height: 100%;">
        <li class="pure-menu-heading" style="height: 4% ;background-color: white;">
            <center>{{ request.user.email }}</center>
        </li>
        <li><a class="menu" href="/" style="padding-top: 20%; padding-bottom: 20%;" onMouseOver="this.style.backgroundColor='#FAFAFA'" onMouseOut="this.style.backgroundColor='#FFFFFF'">Home</a>
        <li><a class="menu" href="/raffles/" style="padding-top: 20%; padding-bottom: 20%;" onMouseOver="this.style.backgroundColor='#FAFAFA'" onMouseOut="this.style.backgroundColor='#FFFFFF'">Raffles</a>
        <li><a class="menu" href="/tickets/" style="padding-top: 20%; padding-bottom: 20%;" onMouseOver="this.style.backgroundColor='#FAFAFA'" onMouseOut="this.style.backgroundColor='#FFFFFF'">Tickets</a>

        <li>
            <a class="menu" href="" style="" onMouseOver="this.style.backgroundColor='#FAFAFA'" onMouseOut="this.style.backgroundColor='#FFFFFF'"></a></li>
        </li>

        {% if business %}
        <li class="pure-menu-heading">{{ business.name }}</li>
        <li><a class="menu" href="../create-raffle/">Create Raffle</a></li>
        {% endif %}

        <li><a class="menu" href="/log_out/" style="bottom: 10px;position: fixed; text-align: center; width: 120px;" onMouseOver="this.style.backgroundColor='#FAFAFA'" onMouseOut="this.style.backgroundColor='#FFFFFF'">Log Out</a></li>
    </ul>
</div>