{% include "base.html" %}
{% load widget_tweaks %}

{% include "menu.html" %}

        <script type="text/javascript">
             function go_to_beta()
             {
                window.location.replace("/beta_new_raffle/");
             }
        </script>

{% if raffleform %}
        <form method="POST" action="/raffle/" class="pure-form" style="text-align: center;" >{% csrf_token %}
        <fieldset class="pure-group"><center>
        <legend class="pure-legend" >Create Raffle</legend>
        {{ raffleform.target_url|attr:"class:pure-input-1-4"|attr:"placeholder:Target URL" }}
        {{ raffleform.expiry_date|attr:"class:pure-input-1-4"|attr:"placeholder:Expiry Date"|attr:"type:hidden"|attr:"value:'0000-00-00 00:00:00'" }}
        {{ raffleform.legal_agreement|attr:"id:legal_id"|attr:"type:hidden"|attr:"checked:checked" }}
        </center>
        </fieldset>
            <a href="/beta_new_raffle/">
         <button type="submit" class="pure-button pure-input-1-4 ">Create Raffle</button>
                </a>
        </form>
{% endif %}

        <center>
{% if rafflelist %}

        <table class="pure-table pure-table-bordered pure-table-striped" style="margin-top: 60px;">
         <tr>
            <th>
                Business
            </th>
            <th>
                Target URL
            </th>
            <th>
                Root Ticket
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Date Created
            </th>
        </tr>
        {% for raffle in rafflelist %}
        <tr>
            <td>{{ raffle.business.name }}</td>
            <td>{{ raffle.target_url }}</td>
            <td><a href="/{{ raffle.root_ticket.hash }}">{{ raffle.root_ticket.hash }}</a></td>
            <td>{{ raffle.expiry_date }}</td>
            <td>{{ raffle.date_created }}</td>
        </tr>
        {% endfor %}

        </table>

{% endif %}

</center>