{% include "base.html" %}
{% load widget_tweaks %}

<script>


    $('#redirect_div').ready(function() {

        $("#ajax_ticket_activation_button").click(function() {
            var input_string = $("#id_activation_email").val();
            var raffle_id = $("#raffle_id").val();
            var parent_ticket_id = $("#parent_ticket_id").val();
            document.getElementById("id_loading_div").style.display = 'block';
            $.ajax({
                url : "/ticket_activation_json/"+raffle_id+"/",
                type : "POST",
                dataType: "json",
                data : {
                    client_response : input_string,
                    parent_ticket_id : parent_ticket_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        document.getElementById("id_loading_div").style.display = 'none';
                        if (json.status=='new')
                        {
                            $('#id_response_message').html('Your new shortlink is:<br><br>');
                        }
                        else if (json.status=='existing')
                        {
                            $('#id_response_message').html('This email already has a shortlink:<br><br>');
                        }
                        $('#id_response_message').append('<a href="http://bit.ly/'+json.hash+'">http://bt.ly/'+json.hash+'</a>');
                        if (json.status=='existing')
                        {
                            $('#id_response_message').append('<br><br>Please <a href="/">login</a> to view stats');
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        alert(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').html(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').show();
                    }
                });
            document.getElementById("id_activation_email").readOnly = true;
            document.getElementById("id_activation_email").style.background = '#dddddd';

            return false;
        });

        initCountdown()

        {% if not settings.DEBUG %}
            defaultstart();
        {% endif %}

    });



    function initCountdown()
    {
        var rd = new Date({{ raffle.expiry_date|date:'Y' }}, {{ raffle.expiry_date|date:'m' }} - 1, {{ raffle.expiry_date|date:'d' }} );
        console.log(rd);
        $('#raffle_countdown_div').countdown({ until: rd});
    }

    var time_left = 5;
    var cinterval;
    var timestatus=1;

    function completion()
    {
        //Send something to the completion logger
         $.ajax({
                url : "/completion_logger/",
                type : "GET",
                dataType: "json",
                data : {
                    ticket_id : {{ ticket.id }},
                    user_id : {% if request.user.is_active %}
                                {{ request.user.id }}
                              {% else %}
                                0
                              {% endif %}
                    },
                    success : function(json) {
                        //Then do the redirect
                        nw = window.open('{{ raffle.target_url }}');

                    },
                    error : function(xhr,errmsg,err) {
                        //console.log(xhr);
                        alert(xhr.status + ": " + xhr.responseText);
                    },
                    async: false
                });
    }

    function time_dec()
    {
        time_left--;
        document.getElementById('countdown_span').innerHTML = time_left;
        if(time_left == 0)
        {
            clearInterval(cinterval);
            completion();
        }
    }

    function resumetime()
    {
        //time_left = 50;
        clearInterval(cinterval);
        cinterval = setInterval('time_dec()', 1000);
    }

    function defaultstart()
    {
        time_left = 5;
        clearInterval(cinterval);
        cinterval = setInterval('time_dec()', 1000);
    }

    function stopstarttime()
    {
        if(timestatus==1)
        {
            clearInterval(cinterval);
            //document.getElementById('stopbutton').value="Start";
            timestatus=0;
        }
        else
        {
            clearInterval(cinterval);
            cinterval = setInterval('time_dec()', 1000);
            //document.getElementById('stopbutton').value="Stop";
            timestatus=1;
        }
    }

    function stoptime()
    {
        clearInterval(cinterval);
        timestatus=0;
    }

    function click_content()
    {
        stoptime();
        $('#content').css('border-top','1px');
        $('#content').css('border-left','1px');
        $('#content').css('border-right','1px');
    }
</script>

<style type="text/css">
    .redirect_div {
        cursor:pointer;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        width: 100%;
        height: 10%;
        }
    .redirect_div:hover {background-color:#FAFAFA;}

    .content {cursor: pointer;
        height: 80%;}
    .content:hover { background-color:#FAFAFA;}

    .id_response_div { height: 20%;  }
    .id_loading_div {display: none;}

</style>

{% if request.user.is_active %}
    {% include "menu.html" %}
{% else %}
    {% include "menu_alternate.html" %}
{% endif %}


<div class="redirect_div" id="redirect_div" onclick="completion();" >
    <a class="content-subhead">Redirecting to
        <h3 style="display:inline; padding-right: 20px; padding-left: 20px;">
        <a onclick="completion();" href="#">{{ ticket.raffle.target_url }}</a></h3>
        in <span id="countdown_span" style="font-size: 42px;">5</span> ...
</div>


<div class="content" id="content" onclick="click_content();" style="padding-bottom: 50px;">
{% if raffle %}
    {% include "raffle_div.html" %}
    {% if ticketactivationform %}
        <form method="POST" action="" class="pure-form" style="text-align: center;padding-top:50px; " >{% csrf_token %}
            <fieldset class="pure-group">
                <center>
                    <input type="hidden" id="raffle_id" value="{{ raffle.id }}" />
                    <input type="hidden" id="parent_ticket_id" value="{{ ticket.id }}" />
                    <legend class="pure-legend" style="font-size: smaller; text-align: left; width: 25%;">
                    <h4>How To Participate:</h4>
                        <ol>
                        <li>Enter your email
                        <li>Use your shortlink to get clicks
                        <li>Win the above prize by getting more clicks!
                        <li>Get commission from your downline!
                        </ol>
                    </legend>
                    {% if request.user.is_active %}
                        {{ ticketactivationform.activation_email|attr:"class:pure-input-1-4"|attr:"placeholder:Enter Email"|attr:"readonly" }}
                    {% else %}
                        {{ ticketactivationform.activation_email|attr:"class:pure-input-1-4"|attr:"placeholder:Enter Email" }}
                    {% endif %}
                </center>
            </fieldset>
            <button type="submit" class="pure-button pure-input-1-4 " id="ajax_ticket_activation_button" name="ajax_ticket_activation_button">
                Create Shortlink
            </button>
        </form>
    {% endif %}

    <center>
        <div id="id_response_div" style="padding-top:20px; height: 150px;">

            <div id="id_loading_div" style="display: none; padding-top: 40px; ">
                <img src="/static/images/1-0.gif" />
            </div>
            <div id="id_response_message" class="id_response_message">
            </div>
            <div id="id_response_url" class="id_response_url">
            </div>
        </div>
    </center>

{% endif %}

{% include "ticket_sigma_div.html" %}

</div>

