{% include "base.html" %}
{% load widget_tweaks %}

<script type="text/javascript">
    $(document).ready(function(){

        sigma.parsers.gexf('../sigma_gexf/{{ ticket.hash }}/', {
            // Here is the ID of the DOM element that
            // will contain the graph:
            container: 'sigma-container',
            settings: {
                defaultNodeColor: '#C0C0C0',
                doubleClickEnabled: false,
                mouseEnabled: true,
                zoomingRatio: 1,
                drawLabels: true,
                defaultLabelColor: "#FFFFFF"


            }
        }, function(s) {
            var i=0;
            s.graph.nodes().forEach(function(n) {
                n.x = n['attributes']['xcoord'];
                n.y = n['attributes']['ycoord'];
                n.label = n['attributes']['label'];
                n.size = 3;
                {% if ticket %}
                if ( n.label=="{{ ticket.hash }}" )
                {
                    n.color = '#000000';
                }
                {% endif %}
                i++;
            });

            s.bind('clickNode', function clickNode(event) {
                console.log("clickNode clicked!" );
            });

            s.bind('overNode', function overNode(event) {
                console.log("node overred");
            });

            s.refresh();
        }

        );


        $("#ajax_ticket_activation_button").click(function() {
            var input_string = $("#id_activation_email").val();
            var raffle_id = $("#raffle_id").val();
            var parent_ticket_id = $("#parent_ticket_id").val();
            document.getElementById("id_loading_div").style.display = 'block';
            $.ajax({
                url : "/ticket_activation_json/"+raffle_id+"/",
                type : "POST",
                dataType: "json",
                data : {
                    client_response : input_string,
                    parent_ticket_id : parent_ticket_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        document.getElementById("id_loading_div").style.display = 'none';
                        if (json.status=='new')
                        {
                            $('#id_response_message').html('Your new shortlink is:<br><br>');
                        }
                        else if (json.status=='existing')
                        {
                            $('#id_response_message').html('This email already has a shortlink:<br><br>');
                        }
                        $('#id_response_message').append('<a href="http://ow.ly/'+json.hash+'">http://ow.ly/'+json.hash+'</a>');
                        if (json.status=='existing')
                        {
                            $('#id_response_message').append('<br><br>Please <a href="/">login</a> to view stats');
                        }

                        $('input#dynamic').val('http://ow.ly/'+json.hash);
                        $('div#easylinkbar').css('display','block');
                        $('a#copy-dynamic').zclip({
                            path:'/static/js/ZeroClipboard.swf',
                            copy:function(){return $('input#dynamic').val();}
                        });
                        $('embed#ZeroClipboardMovie_1').attr('width','72');
                        $('embed#ZeroClipboardMovie_1').attr('height','72');
                        $('embed#ZeroClipboardMovie_1').attr('flashvars','id=1&width=72&height=72');
                        $('embed#ZeroClipboardMovie_1').attr('style','"padding-top:none;padding-left:none;"');
                    },
                    error : function(xhr,errmsg,err) {
                        alert(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').html(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').show();
                    }
                });
            document.getElementById("id_activation_email").readOnly = true;
            document.getElementById("id_activation_email").style.background = '#dddddd';

            return false;
        });

        //defaultstart(); //Start the timer. Turn off during debug

        $( "#content" ).one( "click", function() {
            click_content();
        });

    });


    var time_left = 10;
    var raffle_date = new Date({{ raffle.expiry_date|date:'Y' }}, {{ raffle.expiry_date|date:'m' }} - 1, {{ raffle.expiry_date|date:'d' }} );
    raffle_time = raffle_date.getTime()
    var now = new Date();
    nowtime = now.getTime();
    var time_difference = Math.floor((raffle_time - nowtime)/1000);
    var ftime_difference = formatSeconds(time_difference);
    var cinterval;
    var cinterval2;
    var timestatus=1;

    function time_dec()
    {
        time_left--;
        document.getElementById('countdown_span').innerHTML = time_left;
        if(time_left == 0)
        {
            clearInterval(cinterval);
            completion();
        }
    }

    function raffle_time_dec()
    {
        time_difference--;
        var ftime_difference = formatSeconds(time_difference);
        $('#raffle_countdown_span').html(ftime_difference);
    }

    function formatSeconds(secs)
    {
        var pad = function(n) {
            return (n < 10 ? "0" + n : n);
        };

        var d = Math.floor(secs / 86400);
        var h = Math.floor((secs / 86400) % 1 * 24);
        var m = Math.floor((secs / 3600) % 1 * 60); // Remainder of an hour of seconds x 60
        var s = Math.floor((secs / 60) % 1 * 60); // Remainder of a minute of seconds x 60

        return pad(d) +" days "+ pad(h) +":"+ pad(m) +":"+ pad(s);
    };

    function resumetime()
    {
        clearInterval(cinterval);
        cinterval = setInterval('time_dec()', 1000);
    }

    function defaultstart()
    {
        time_left = 10;
        clearInterval(cinterval);
        clearInterval(cinterval2);
        cinterval = setInterval('time_dec()', 1000);
        cinterval2 = setInterval('raffle_time_dec()', 1000);
    }

    function stopstarttime()
    {
        if(timestatus==1)
        {
            clearInterval(cinterval);
            timestatus=0;
        }
        else
        {
            clearInterval(cinterval);
            cinterval = setInterval('time_dec()', 1000);
            timestatus=1;
        }
    }

    function stoptime()
    {
        clearInterval(cinterval);
        timestatus=0;
    }

    function completion()
    {
        //Send something to the completion logger
         $.ajax({
                url : "/completion_logger/",
                type : "GET",
                dataType: "json",
                data : {
                    ticket_id : {{ ticket.id }},
                    user_id : {% if request.user.is_active %}
                                {{ request.user.id }}
                              {% else %}
                                0
                              {% endif %}
                    },
                    success : function(json) {
                        //Then do the redirect
                        nw = window.location.assign('{{ raffle.target_url }}');

                    },
                    error : function(xhr,errmsg,err) {
                        //console.log(xhr);
                        alert(xhr.status + ": " + xhr.responseText);
                    },
                    async: false
                });
    }

    function content_completion()
    {
        $.ajax({
            url : "/completion_logger/",
            type : "GET",
            dataType: "json",
            data : {
                ticket_id : {{ ticket.id }},
                user_id : {% if request.user.is_active %}
                            {{ request.user.id }}
                          {% else %}
                            0
                          {% endif %}
                },
                success : function(json) {
                    //Then do the redirect
                    //nw = window.open('{{ raffle.target_url }}');
                    makePopunder("{{ raffle.target_url }}");
                },
                error : function(xhr,errmsg,err) {
                    //console.log(xhr);
                    alert(xhr.status + ": " + xhr.responseText);
                },
                async: false
            });
    }

    function click_content()
    {
        stoptime();
        content_completion();
        $('#content').css('border-top','1px');
        $('#content').css('border-left','1px');
        $('#content').css('border-right','1px');
    }


</script>



<style type="text/css">
    .redirect_div {
        cursor:pointer;
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center;
        width: 100%;
        height: 10%;
        }
    .redirect_div:hover { /* background-color:#FAFAFA; */ }

    .content {cursor: pointer;
        height: 80%;}
    .content:hover { /* background-color:#FAFAFA; */ }

    .id_response_div { height: 20%;  }
    .id_loading_div {display: none;}

</style>

{% if request.user.is_active %}
    {% include "menu.html" %}
{% else %}
    {% include "menu_alternate.html" %}
{% endif %}
<body>

<div class="redirect_div" id="redirect_div" onclick="completion();" >
    <a class="content-subhead">Redirecting to
        <h3 style="display:inline; padding-right: 20px; padding-left: 20px;">
        <a onclick="completion();" href="#">{{ ticket.raffle.target_url }}</a></h3>
        in <span id="countdown_span" style="font-size: 42px;">10</span> ...
        <br><sub>Click to Skip</sub>
</div>



<div class="content" id="content" style="padding-bottom: 50px;">

{% if raffle %}
    {% include "raffle_div.html" %}
    {% if ticketactivationform %}
        <form method="POST" action="" class="pure-form" style="text-align: center;" >{% csrf_token %}
            <fieldset class="pure-group">
                <center>
                    <input type="hidden" id="raffle_id" value="{{ raffle.id }}" />
                    <input type="hidden" id="parent_ticket_id" value="{{ ticket.id }}" />
                    <legend class="pure-legend" style="font-size: smaller; text-align: left; width: 25%;">
                    <h4>How To Win:</h4>
                        <ol>
                        <li>Enter your email
                        <li>Use your shortlink to spread this link around
                        <li>Increase your chances of winning with each click you get
                        <li>Get rewarded for downline users and their clicks too!
                        </ol>
                        <center><a href="/legal/">Terms and Conditions</a></center>
                    </legend>
                    {% if request.user.is_active %}
                        {{ ticketactivationform.activation_email|attr:"class:pure-input-1-4"|attr:"placeholder:Enter Email"|attr:"readonly" }}
                    {% else %}
                        {{ ticketactivationform.activation_email|attr:"class:pure-input-1-4"|attr:"placeholder:Enter Email" }}
                    {% endif %}
                </center>
            </fieldset>
            <button type="submit" class="pure-button pure-input-1-4 " id="ajax_ticket_activation_button" name="ajax_ticket_activation_button">
                Create Shortlink
            </button>
        </form>
    {% endif %}

    <center>
        <div id="id_response_div" style="padding-top:20px; height: 150px;">

            <div id="id_loading_div" style="display: none; padding-top: 40px; ">
                <img src="/static/images/1-0.gif" />
            </div>
            <div id="id_response_message" class="id_response_message">
            </div>
            <div id="id_response_url" class="id_response_url">
            </div>

            <div id="easylinkbar" class="easylinkbar" style="display: none;">
            {% include "easylinkbar.html" %}
            </div>
        </div>
    </center>

{% endif %}

{% include "ticket_sigma_div.html" %}


</div>

</body>
        </html>