{% include "base.html" %}
{% load widget_tweaks %}

<script>
    $(document).ready(function() {

        $("#ajax_ticket_activation_button").click(function() {
            var input_string = $("#id_activation_email").val();
            var raffle_id = $("#raffle_id").val();
            var parent_ticket_id = $("#parent_ticket_id").val();
            document.getElementById("id_loading_div").style.display = 'block';
            $.ajax({
                url : "/ticket_activation_json/"+raffle_id+"/",
                type : "POST",
                dataType: "json",
                data : {
                    client_response : input_string,
                    parent_ticket_id : parent_ticket_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        $('#id_response_div').html("");
                        $('#id_response_div').append('<div>');
                        if (json.status=='new')
                        {
                            $('#id_response_div').append('<pre>Your new shortlink is:</pre>');
                        }
                        else if (json.status=='existing')
                        {
                            $('#id_response_div').append('<pre>This email already has a shortlink:</pre>');
                        }
                        $('#id_response_div').append('<a href="http://bit.ly/'+json.hash+'">http://bt.ly/'+json.hash+'</a>');
                        if (json.status=='existing')
                        {
                            $('#id_response_div').append('<pre> Please login to view stats</pre>');
                        }
                        $('#id_response_div').append('</div>');
                    },
                    error : function(xhr,errmsg,err) {
                        alert(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').append(xhr.status + ": " + xhr.responseText);
                        $('#id_response_div').show();
                    }
                });
            document.getElementById("id_activation_email").readOnly = true;
            document.getElementById("id_activation_email").style.background = '#dddddd';

            return false;
        });

        //defaultstart();

    });

    var time_left = 5;
    var cinterval;
    var timestatus=1;

    function do_redirect()
    {
        window.location.href="{{ raffle.target_url }}";
    }

    function time_dec()
    {
        time_left--;
        document.getElementById('countdown').innerHTML = time_left;
        if(time_left == 0)
        {
            clearInterval(cinterval);
            do_redirect();
        }
    }

    function resumetime()
    {
        //time_left = 50;
        clearInterval(cinterval);
        cinterval = setInterval('time_dec()', 1000);
    }

    function defaultstart()
    {
        time_left = 5;
        clearInterval(cinterval);
        cinterval = setInterval('time_dec()', 1000);
    }

    function stopstarttime()
    {
        if(timestatus==1)
        {
            clearInterval(cinterval);
            //document.getElementById('stopbutton').value="Start";
            timestatus=0;
        }
        else
        {
            clearInterval(cinterval);
            cinterval = setInterval('time_dec()', 1000);
            //document.getElementById('stopbutton').value="Stop";
            timestatus=1;
        }
    }

    function stoptime()
    {
        clearInterval(cinterval);
        timestatus=0;
    }

    function click_content()
    {
        stoptime();
        $('#content').css('border-top','1px');
        $('#content').css('border-left','1px');
        $('#content').css('border-right','1px');
    }
</script>

<style type="text/css">
    .redirect_div {cursor:pointer;}
    .redirect_div:hover {background-color:#FAFAFA;}

    .content {cursor: pointer;}
    .content:hover { background-color:#FAFAFA;}
</style>

{% if request.user.is_active %}
    {% include "menu.html" %}
{% else %}
    {% include "menu_alternate.html" %}
{% endif %}

<center>
<div class="redirect_div" id="redirect_div" onclick="stopstarttime();" style="padding-top: 50px; padding-bottom: 50px; vertical-align: center; width: 100%; height: 32px; display: table-cell; vertical-align: middle;">
    <a class="content-subhead">Redirecting to
        <h3 style="display:inline; padding-right: 20px; padding-left: 20px;">
        <a href="{{ ticket.raffle.target_url }}">{{ ticket.raffle.target_url }}</a></h3>
        in <span id="countdown" style="font-size: 42px;">5</span> ...
    <img id="playpause_img" src="/static/images/playpause.png" height="14" /></a>
</div>
</center>

<div class="content" id="content" onclick="click_content();" style="padding-bottom: 50px;">
{% if raffle %}
    {% include "raffle_div.html" %}
    {% if ticketactivationform %}
        <form method="POST" action="" class="pure-form" style="text-align: center;padding-top:50px; " >{% csrf_token %}
            <fieldset class="pure-group">
                <center>
                    <input type="hidden" id="raffle_id" value="{{ raffle.id }}" />
                    <input type="hidden" id="parent_ticket_id" value="{{ ticket.id }}" />
                    <legend class="pure-legend" >Get clicks via your shortlink to win the above prize!</legend>
                    {{ ticketactivationform.activation_email|attr:"class:pure-input-1-4"|attr:"placeholder:Email" }}
                </center>
            </fieldset>
            <button type="submit" class="pure-button pure-input-1-4 " id="ajax_ticket_activation_button" name="ajax_ticket_activation_button">
                Create Shortlink
            </button>
        </form>
    {% endif %}


    <center>
    <div id="id_response_div" style="padding-top:20px;">
        <div id="id_loading_div" style="display: none; padding-top: 40px;">
            <img src="/static/images/1-0.gif" />
        </div>
    </div>
    </center>
{% endif %}

{% include "ticket_sigma_div.html" %}

</div>