<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/sigma.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/sigma.parsers.gexf.min.js"></script>
<script>

  sigma.parsers.gexf(
    '../sigma_gexf/{{ ticket.hash }}/',
    { // Here is the ID of the DOM element that
      // will contain the graph:
      container: 'sigma-container',
      settings: {
        defaultNodeColor: '#C0C0C0',
        mouseEnabled: false
      }
    },
    function(s) {
        console.log(s);
        var i=0;
        s.graph.nodes().forEach(function(n) {
            n.x = n['attributes']['xcoord'];
            n.y = n['attributes']['ycoord'];
            n.label = n['attributes']['label'];
            n.size = 1.5;
            {% if ticket %}
            if ( n.label=="{{ ticket.hash }}" )
            {
                console.log("FOUND THE ONE");
                n.color = '#000000';
            }
            {% endif %}
            i++;
        });
        s.refresh();
    }
  );
</script>


<div id="container">
  <style>
    #sigma-container {
      width: 98%;
      padding-left: auto;
      padding-right: auto;
      height: 400px;
      top: 75%;
      position: absolute;
    }
  </style>
  <div id="sigma-container"></div>
</div>
