{% include "base.html" %}

{% include "menu.html" %}

<center><a href="/ticket/">New Ticket</a>

{% if ticketlist %}
        <table class="pure-table pure-table-bordered pure-table-striped">
         <tr>
            <th>
                Activation Email
            </th>
             <th>
                Date Activated
            </th>
            <th>
                Hash
            </th>
            <th>
                Raffle
            </th>
        </tr>
        {% for ticket in ticketlist %}
        <tr>
            <td>{{ ticket.activation_email }}</td>
            <td>{{ ticket.date_activated }}</td>
            <td>{{ ticket.hash }}</td>
            <td>{{ ticket.raffle }}</td>
        </tr>
        {% endfor %}

        </table>

{% else %}
    <center>
    No Tickets Yet!<br>
    </center>
{% endif %}


</center>