{% include "base.html" %}



<div id="main">

 {% include "menu.html" %}

</div>

<center>

<br><br>
<div style="width: 35%;">
{% include "header.html" %}
<br><br><br>

<h2>Welcome to Quidprize.com!</h2>

<br>
<h3 style="font-family: courier sans;">currently in beta</h3><br>
<!--<p style="text-align: left;">This means that some features are still not-->
<!--yet implemented. However, feel free to play around and <a href="mailto:quidprize@gmail.com">let us know what you-->
<!--think</a> while we continue to make improvements.-->
<!--</p>-->
<br>
<p style="text-align: left;">
<a class="internal" href="/raffles/">find a raffle</a> to participate in, or
<a href="/tickets/">view your current tickets</a> where you can see how many clicks you have, and your odds
of winning each prize.
</p>
<br>
<p style="text-align: left;">are you a url owner? <a class="internal" href="/beta_new_raffle/">create a raffle</a> to encourage your users
    to promote your online presence
</p>
<br>
<p style="text-align: left;"><a class="internal" href="/about/">learn more</a> about how this all works and
    why quidprize.com is both the cheapest and most effective way to increase traffic to your site
</p>

<!--<p style="text-align: left;">-->
<!--We hope you enjoy quidprize.com, and thanks for stopping by!-->
<!--</p>-->

</div>
</center>