{% include "base.html" %}



<div id="main">

 {% include "menu.html" %}
<center>

{% if ticketlist %}
<table class="pure-table pure-table-bordered pure-table-striped">
         <tr>
            <th>
                Hash
            </th>
            <th>
                Date Activated
            </th>
            <th>
                Raffle
            </th>
            <th>
                Number of Clicks
            </th>
        </tr>
        {% for t in ticketlist %}
        <tr>
            <td><a href="/{{ t.hash }}">{{ t.hash }}</a></td>
            <td>{{ t.date_activated }}</td>
            <td>{{ t.raffle.business.name }}</td>
            <td>{{ t.num_clicks }}</td>
        </tr>
        {% endfor %}

        </table>

{% endif %}

        {% if message %} <h3> {{ message }} </h3> {% endif %}
</center>
    </div>

