{% include "base.html" %}
{% load widget_tweaks %}
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    alert(typeof jQuery().zclip);

	$('a#copy-description').zclip({
		path:'/static/js/ZeroClipboard.swf',
		copy:$('p#description').text()
	});
	// The link with ID "copy-description" will copy
	// the text of the paragraph with ID "description"
	$('a#copy-dynamic').zclip({
		path:'/static/js/ZeroClipboard.swf',
		copy:function(){return $('input#dynamic').val();}
	});
	// The link with ID "copy-dynamic" will copy the current value
	// of a dynamically changing input with the ID "dynamic"

	// Resize the clickable region
	$('embed#ZeroClipboardMovie_1').attr('width','72');
	$('embed#ZeroClipboardMovie_1').attr('height','72');
	$('embed#ZeroClipboardMovie_1').attr('flashvars','id=1&width=72&height=72');
	$('embed#ZeroClipboardMovie_1').attr('style','"padding-top:none;padding-left:none;"');

	$('a#copy-dynamic').hover(function() {
            $('img#image-button').attr('src','/static/images/Editing-Copy-icon-animation.gif');
        }, function() {
            $('img#image-button').attr('src','/static/images/Editing-Copy-icon.png');
        }
    );

    $('a#copy-dynamic').hover(function() {
            $('img#image-button').attr('src','/static/images/Editing-Copy-icon-animation.gif');
        }, function() {
            $('img#image-button').attr('src','/static/images/Editing-Copy-icon.png');
        }
    );

    $('a#li_link').hover( function() {
            $('img#li-button').attr('src','/static/images/linkedin-icon-active.png');
        }, function() {
            $('img#li-button').attr('src','/static/images/linkedin-icon.png');
        }
    );
});
</script>

<body>

<style>
    .barlink {
        display: inline;
    }

    .barimg {
        display: inline;
        border-bottom: 2px solid white;
    }

    .barimg:hover {
     /*   border-bottom: 2px solid black; */
    }

</style>



<div class="barlink">
<input id="dynamic" type="hidden" value="">
<a id="copy-dynamic" >
    <img class="barimg" id="image-button" src="/static/images/Editing-Copy-icon.png" style="height: 50px;top: 40px;position:relative; padding-right: 10px;">
</a>
</div>

<div class="barlink">
<a id="tw_link"
   href="https://twitter.com/share?url=http%3A%2F%2Fow.ly%2F1234"
   data-url="http://ow.ly/1234"
   data-text="Help me win!"
   data-size="large"
   data-count="none"
   data-hashtags="quidprize">
    <img class="barimg" id="tw-button" src="/static/images/twitter-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>


<div class="barlink">
<a id="fb_link" href="#" >
    <img class="barimg" id="fb-button" src="/static/images/facebook-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>
</div>

<a id="li_link" href="#" >
    <img class="barimg" id="li-button" src="/static/images/linkedin-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>


<a id="pt_link" href="#" >
    <img class="barimg" id="pt-button" src="/static/images/pinterest-icon.png" style="height: 50px;top: 40px;position:relative;">
</a>



</body>
</html>